@model PagedList<VehicleMVC.MakerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Maker", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("MakerName", "Index", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MakerDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MakersModels)
        </th>
    </tr>
  @foreach (var item in Model)
  {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MakerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakerDescription)
        </td>
        <td>
        @foreach (var modelsInMaker in item.MakersModels)
        {
            <p>
            @Html.DisplayFor(modelItem => modelsInMaker.ModelName)

            </p>   
        }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MakeID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MakeID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MakeID })
        </td>
    </tr>
  }

</table>
<p>
    @if (Model.HasPreviousPage)
    {

        @Html.ActionLink("<<<", "Index", new { page = (Model.PageIndex - 1) })

    }

    @if (Model.HasNextPage)
    {

        @Html.ActionLink(">>>", "Index", new { page = (Model.PageIndex + 1) })

    }

</p>